
*{
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header{
  flex-direction: row;
  justify-content: flex-start;
  background-color:#3f056f;
  height: 30vh;
  width: 100vw;
}

.logo{
  margin: 2.5vh;
}

#logo{
  width: 27vh;
  height: 25vh;
}

.bar{
  flex-direction: row;
}

.nav{
  align-items: flex-start;
  margin: 2.5vh;
  padding-right: 6vh;
  border-right: solid;
  border-color: black;
  height: 20vh;
  width: 60vw;
}

a{
  color: black;
  text-decoration: none;
  font-size: 40px;
}

.pestaña{
  flex-direction: row;
  border-right: solid;
  border-color: black;
  margin-right: 5vh;
  margin-top: 4vh;
  padding-right: 2vh;
  height: 5vh;
}

.title{
  flex-direction: column;
  margin-top: ;
  margin-bottom: 5vh;
  padding: 0;
  font-size: 35px;
  height: 8vh;
}

.form{
  align-items: flex-end;
  flex-direction: column;
  margin-right: 2vw;
  height: 30vh;
  width: 30vw;
}

#buscador{
  flex-direction: row;
  height: 50%;
}

#butt-busq{
  height: 7vh;
  width: 7vh;
}

#form-busq, textarea{
  padding: 10px;
  width: 22.2vw;
  text-align: right;
  font-size: 20px;
}

#user{
  flex-direction: row;
}

#reg{
  font-size:20px;
}

.product-list{
  flex-flow: wrap;
}

.product{
  margin: 20px;
  background-color: #c5a0d4;
}

.spec{
  text-align: left;
}

img{
  height: 50vh;
  width: 35vw;
}

h2{
  width: 35vw;
}

button{
  height: 10vh;
  width: 15vw;
  font-size: 30px;
  background-color: #c88ba2;
}

button:hover {
  background-color: #f071a1;
}

footer{
  background-color: #3f056f;
  height:15vh;
  width: 100vw;
}
